.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-app-medium.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.forms-container {
  position: relative;
  background-color: rgba(8, 7, 7, 0.663);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  min-height: 500px;
  padding-bottom:1rem;
}

.back-button {
  position: absolute;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.back-button:hover {
  transform: scale(1.2);
}

.title-form {
  margin-bottom: .5rem;
  color: white;
  padding: 0 2rem;
}

.progress-bar{
  width:300px;
  margin:1rem;
}

@media (width <= 450px) {
  .forms-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(8, 7, 7, 0.803);
  }

  .title-form {
    margin-top: 1rem;
  }
  .App {
    background-image: url("../images/bg-app-small.jpg");
  }

  .title-form {
    font-size: x-large;
  }
}
