.step-two-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-probability-list {
  color: white;
  padding: 3rem;
  background-color: #79142aad;
}

.gender-probability-list li {
  list-style-type: none;
  color: silver;
}

.gender-probability-items {
  font-size: larger;
  font-weight: bold;
  color: white;
}
.step-two-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

@media (width <= 450px) {
  .step-two-form {
    flex-direction: column;
  }

  .gender-probability-list {
    margin-bottom: 1rem;
  }
}
