.result {
  color: white;
  background-color: #79142a6d;
  border-radius: 10px;
  padding:1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-list-result{
  border-bottom: 1px solid #ffffffe4;
  padding:.2rem 1rem;
}
.result ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.result ul li h5 {
  font-size: large;
  margin-right:.5rem;
}

.gender-items {
  display:flex;
  margin-top:.2rem;
}
